@model (Dictionary<string,int>,List<CityPharmacyCountDto>)

<div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-1">
            <div class="card-body">
                <h3 class="card-title text-white">Eczane Sayısı</h3>
                <div class="d-inline-block">
                    <h2 class="text-white">@Model.Item1["Pharmacy"]</h2>
                    <p class="text-white mb-0">@DateTime.Now.ToString("MMMM yyyy")</p>
                </div>
                <span class="float-right display-5 opacity-5"><i class="fas fa-medkit"></i></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-2">
            <div class="card-body">
                <h3 class="card-title text-white">Duyuru Sayısı</h3>
                <div class="d-inline-block">
                    <h2 class="text-white">@Model.Item1["Announcement"]</h2>
                    <p class="text-white mb-0">@DateTime.Now.ToString("MMMM yyyy")</p>
                </div>
                <span class="float-right display-5 opacity-5"><i class="fas fa-bullhorn"></i></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-3">
            <div class="card-body">
                <h3 class="card-title text-white">Geri Dönüş Sayısı</h3>
                <div class="d-inline-block">
                    <h2 class="text-white">@Model.Item1["Feedback"]</h2>
                    <p class="text-white mb-0">@DateTime.Now.ToString("MMMM yyyy")</p>
                </div>
                <span class="float-right display-5 opacity-5"><i class="fas fa-comments"></i></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-4">
            <div class="card-body">
                <h3 class="card-title text-white">Abone Sayısı</h3>
                <div class="d-inline-block">
                    <h2 class="text-white">@Model.Item1["Subscribe"]</h2>
                    <p class="text-white mb-0">@DateTime.Now.ToString("MMMM yyyy")</p>
                </div>
                <span class="float-right display-5 opacity-5"><i class="fas fa-heart"></i></span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yıllara Göre Geri Dönüş Sayısı</h4>
                <div id="morris-bar-chart"></div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card card-widget">
            <div class="card-body">
                <h5 class="text-muted">En Çok Eczanesi Olan Şehirler</h5>
                @foreach (var stat in Model.Item2)
                {
                    var percentage = 100 * stat.PharmacyCount / Model.Item1["Pharmacy"];
                    <div class="mt-4">
                        <h4>@stat.PharmacyCount</h4>
                        <h6>@stat.City <span class="pull-right">@(percentage)%</span></h6>
                        <div class="progress mb-3" style="height: 7px">
                            <div class="progress-bar gradient-1" style="width: @(percentage)%;" role="progressbar">
                                <span class="sr-only">@(percentage)%</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body px-0">
                <h4 class="card-title px-4 mb-3">Todo</h4>
                <div class="todo-list">
                    <div class="tdl-holder">
                        <div class="tdl-content">
                            <ul id="todo_list">
                                <li><label><input type="checkbox"><i></i><span>Get up</span><a href='#' class="ti-trash"></a></label></li>
                                <li><label><input type="checkbox" checked><i></i><span>Stand up</span><a href='#' class="ti-trash"></a></label></li>
                                <li><label><input type="checkbox"><i></i><span>Don't give up the fight.</span><a href='#' class="ti-trash"></a></label></li>
                                <li><label><input type="checkbox" checked><i></i><span>Do something else</span><a href='#' class="ti-trash"></a></label></li>
                            </ul>
                        </div>
                        <div class="px-4">
                            <input type="text" class="tdl-new form-control" placeholder="Write new item and hit 'Enter'...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
