@model IEnumerable<PharmacyResultDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_MainLayout.cshtml";
}

<style>
    .container {
        display: flex;
        flex-direction: column;
    }

    .viewcomponenti {
        flex: 1;
        overflow: auto;
    }
</style>

<div class="container">
    <div class="viewcomponenti">
        <table class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        <a href="#" id="sortByName" class="sort-link">
                            Eczane İsmi
                            <i class="fa fa-sort"></i>
                        </a>
                    </th>
                    <th scope="col">
                        <a href="#" id="sortByCity" class="sort-link">
                            Şehir
                            <i class="fa fa-sort"></i>
                        </a>
                    </th>
                    <th scope="col">
                        <a href="#" id="sortByDistrict" class="sort-link">
                            İlçe
                            <i class="fa fa-sort"></i>
                        </a>
                    </th>
                    <th scope="col">
                        <a href="#" id="sortByNumber" class="sort-link">
                            Numara
                            <i class="fa fa-sort"></i>
                        </a>
                    </th>
                    <th scope="col">
                        <a href="#" id="sortByAddress" class="sort-link">
                            Adres
                            <i class="fa fa-sort"></i>
                        </a>
                    </th>
                    <th scope="col">
                        <a href="#" id="sortByRate" class="sort-link">
                            Puan
                            <i class="fa fa-sort"></i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var pharmacy in Model)
                    {
                        <tr class="@(pharmacy.Rate >= 4 ? "table-success" : (pharmacy.Rate >= 2 ? "table-warning" : "table-danger"))">
                            <td>@pharmacy.Name</td>
                            <td>@pharmacy.City</td>
                            <td>@pharmacy.District</td>
                            <td>
                                @pharmacy.Number <i class="fa fa-phone"></i>
                            </td>
                            <td>
                                @pharmacy.Address <i class="fa fa-map-marker"></i>
                            </td>
                            <td class="text-center">@pharmacy.Rate</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
}
