@model IEnumerable<DailyQuoteResultDto>

@{
    Layout = null;
}

@{
    var dailyQuoteWithId1 = Model.FirstOrDefault(id => id.DailyQuoteId == 1);
}

<section class="client_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                <span>Günün Sözü</span>
            </h2>
        </div>
    </div>
    <div class="container px-0">
        <div id="customCarousel2" class="carousel  carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                @if (dailyQuoteWithId1 != null)
                {
                    <div class="carousel-item active">
                        <div class="box">
                            <div class="client_info">
                                <div class="client_name">
                                    <h5>@dailyQuoteWithId1.DailyQuoteSource</h5>
                                    <h6>@dailyQuoteWithId1.DailyQuoteSource</h6>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <p>@dailyQuoteWithId1.Quote</p>
                        </div>
                    </div>
                }
                @foreach (var dailyQuote in Model.Where(id => id.DailyQuoteId != 1))
                {
                    <div class="carousel-item">
                        <div class="box">
                            <div class="client_info">
                                <div class="client_name">
                                    <h5>@dailyQuote.DailyQuoteSource</h5>
                                    <h6>@dailyQuote.DailyQuoteSource</h6>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <p>@dailyQuote.Quote</p>
                        </div>
                    </div>
                }
            </div>
            <div class="carousel_btn-box">
                <a class="carousel-control-prev" href="#customCarousel2" role="button" data-slide="prev">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span class="sr-only">Önceki</span>
                </a>
                <a class="carousel-control-next" href="#customCarousel2" role="button" data-slide="next">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span class="sr-only">Sonraki</span>
                </a>
            </div>
        </div>
    </div>
</section>
